<div class="card">
  <div class="info">
    <iframe class="video"  border-radius="5"src="https://www.youtube.com/embed/kN1XP-Bef7w?si=JOU1LJE_4lW8PmkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <h1 class="title">Article Title</h1>
    <p>32 Lesiones</p>
  </div>
  <div class="button-crud">
    <a href="">Ver</a>
    <a href="">Editar</a>
    <a href="">Eliminar</a>
  </div>
</div>
