
.left-form {
  grid-area: left-form;
}
.rigth-form {
  grid-area: rigth-form;
  display: grid;
  justify-items: center;
  gap: 15px;
}

.buttons-form {
  grid-area: buttons-form;
  width: 100%;
  padding: 15px;
}

.form-course {
  display: grid;
  grid-template-areas:
    "left-form"
    "rigth-form"
    "buttons-form";
  padding: 5px;
  font-family: "Lato", sans-serif;
  gap: 15px;
  justify-items: center;
  align-content: space-around;
}

@media (min-width: 768px) {
  .form-course {
    grid-template-areas:
      "left-form rigth-form  "
      "left-form buttons-form  ";
    height: 90%;
    gap: 15px;
  }
  .rigth-form {
    align-content: space-between;
    justify-items: left;
  }
  .buttons-form {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .form-course {
    grid-template-areas:
      "left-form rigth-form  "
      "buttons-form  buttons-form";
    gap: 15px;
  }
  .rigth-form {
    align-content: space-between;
  }
}
