<div class="form-course">
  <div class="left-form">
    <!--<input type="text" id="Name" name="Name" />
    <label for="Name">Titulo</label>
    <textarea class="description-course" name="textarea"  placeholder="Descripción"></textarea
    >
    <input type="text" id="Duracion" name="Duracion" />
    <label for="Duracion">Duración</label>
    <input type="text" id="Instructor" name="Instructor" />
    <label for="Instructor">Nombre del instructor</label>
    <input type="date" id="Fecha" name="Fecha" />
    <label for="Fecha">Fecha de lanzamiento</label>
    <input type="text" id="Estado" name="Estado" />
    <label for="Estado">Estado</label>-->
    <app-form-course/>
  </div>
  <div class="rigth-form">
    <app-icon-message [icon]="iconMessage" />
    <app-add-doc/>
  </div>
  <div class="buttons-form">
    <app-buttons/>
  </div>
</div>
