* {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}
form {
  display: grid;
  margin: 15px;
  padding: 15px;
  width: 90%;
  height: 475px;
  grid-area: left-form;
  border: 1px solid #d9d9d9;
}
input {
  border: none;
  border-bottom: 1px solid;
}

.description-course {
  background: #d9d9d952;
  border-radius: 4px;
}

@media (min-width: 1024px) {
  form{
    width: 372px;
    height: 475px;
  }
}
@media (min-width: 768px) {
  form{
    width: 372px;
    height: 90%;
  }
}
