.course-manager{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 15px;
  color: #2F0084;
  align-content: space-around;
  align-items: center;
}

.obj-ability{
  display: grid;
  width: 100%;
  gap: 15px;
}

.title{
  font-family: "lato";
font-size: 2rem;
font-weight: 600;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
width: 100%;
}

.buttons-form {
  width: 100%;
  padding: 15px;
}
