<div class="container">
  <h1 class="tittle">Tittle</h1>
  <div class="container-left">
    <form action="">
      <input type="text" id="Titulo" name="Titulo" />
      <label for="Titulo">Titulo</label>
      <textarea
        class="description"
        name="textarea"
        placeholder="Descripción"
      ></textarea>
      <input type="text" id="AgregarLink" name="AgregarLink" />
      <label for="AgregarLink">Agregar link de video</label>
    </form>
  </div>
  <div class="container-right">
    <app-add-doc />
  </div>
  <div class="buttons">
    <app-buttons />
  </div>
</div>
